<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static%}
    <link rel="stylesheet" href='{% static 'first_app/css/style.css' %}'>
    <title>Quotes</title>
</head>
<body>
    <div class="wrapper">
        <h5><a href="/quotes">Dashboard</a></h5> 
        <h5><a href="/logout">Logout</a></h5>
        <p>Posts by: {{user.first_name}}</p>
        <p>Count: {{ user.uploaded_quotes.all | length }}</p>

        {%for quote in user.uploaded_quotes.all %}
            <p> <span style="color:red">{{quote.owner}}:</span> {{quote.content}}</p> 
        {%endfor%}
    </div>
</body>
</html>