<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About Me</title>
</head>
<body>
    <p>Currently, I am a student at CodingDojo and a freelancer in San Francisco working on digital marketing. 
        I used to live in <a href="https://en.wikipedia.org/wiki/Istanbul"> Istanbul</a> and teach EFL (English as a Foreign Language) 
        at a university in Istanbul. I was born in <a href="https://en.wikipedia.org/wiki/Denizli_Province"> Denizli</a>, which was an 
        ancient Greek city named <a href="https://en.wikipedia.org/wiki/Hierapolis">Hierapolis</a>, in 1988. I studied at <a href="http://www.boun.edu.tr/en_US"> Bogazici University</a>, 
        which definitely has <a href="https://www.instagram.com/unibogazici/?hl=tr"> one </a> of the most beautiful campuses in the world [definitely no exaggeration :) ]. 
        During my master, I studied at Syracuse University as an exchange student. After I finished my master's degree, we decided to move to the USA. 
        After living one year in NYC, we moved to San Francisco in the summer of 2016. And now I decided to be a programmer and trying to do my best.</p>
</body>
</html>