#wrapper{
    background-color: black;
    height: 2000px;
}

h1, p, h2{
    color: white;
    padding-top: 250px;
    text-align: center;
}

label{
    color: white;
    font-size: medium;
    padding-left: 400px;
    padding-top: 20px;
}
button{
    margin-left: 490px;
}