
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Application</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div id="wrapper">
        <form action="">
            <h2>Do you want to become a Ninja? Fiil out the form below.</h2>
            <label for="realname">Real Name: </label><input type="text" name="realname" id="realname"><br><br>
            <label for="ninjaname">Ninja Name: </label><input type="text" name="ninjaname" id="ninjaname"> <br><br>
            <button>Send it!</button>
        </form>
    </div>
    
</body>
</html>