*{
    margin: 0px;
    padding: 0px;
  }

body{
	padding: 30px;
	font-family: Arial, Helvetica, sans-serif;
}

h1, p{
    text-align: center;
    color: black;
    margin-bottom: 20px;
}

input{
    border: 2px solid black;
    color: black;
    text-align: center;
    display: block;
    font-size: 16px;
    margin-left: 520px;
    margin-bottom: 20px;
}
#submit{
    margin-left: 580px;
}

.wrong{
	width: 150px;
	height: 80px;
	font-size: 1.5em;
	text-align: center;
    color: white;
    background-color: red;
    margin-left: 530px;
    padding-top: 70px;
}


#result{
	width: 150px;
	height: 80px;
	font-size: 1.5em;
	text-align: center;
	color: white;
    background-color: green;
    margin-left: 530px;
    padding-top: 30px;
}
#right{
    color: white; 
    margin-bottom: 20px;
}
button{
	border: 2px solid black;
    color: black;
    text-align: center;
    font-size: 16px;
    margin-top: 20px;
}
