<html>
    <head>
      <title>Friends</title>
    </head>
    <body>
      <h1>Friends:</h1>
      <!-- with all the data we can then construct a more structured output -->
         <table style="width:100%">
          <tr>
            <th>Full Name</th>
            <th>Age</th>
            <th>Friend Since</th>
          </tr>
          {% for friend in all_friends: %}
          <tr>
            <td>{{ friend['full_name'] }}</td>
            <td>{{ friend['age'] }}</td> 
            <td>{{ friend['friends_since'] }}</td>
          </tr>
          {% endfor %}
        </table>
      <h2>Add a Friend</h2>
      <form action='/friends' method='POST'>
        <label for="full_name">Full Name:<input type="text" name="full_name" id="full_name"></label>
        <label for="age">Age:<input type="text" name="age" id="age"></label>
        <input type="submit" value="Add">
      </form>

      <!-- THIS IS FOR UPDATE PART ON THE SERVER BUT IT DIDN'T WORK :( -->
      <!-- <h2>Update a Friend</h2>
      <form action='/update_friend/<friend_id>' method='POST'>
        <label for="first_name">First Name:<input type="text" name="first_name" id="first_name"></label>
        <label for="last_name">Last Name:<input type="text" name="last_name" id="last_name"></label>
        <label for="occupation">Occupation:<input type="text" name="occupation" id="occupation"></label>
        <input type="submit" value="Update">
      </form> -->
    </body>
    </html>
    