<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static%}
    <link rel="stylesheet" href='{% static 'first_app/css/style.css' %}'>
    <title>Edit Profile</title>
</head>
<body>
    <div class="wrapper">
        <div id="top">
            <h2 class="topnote" id="test">Test App</h2>
            <a class="topnote" id="dashboard" href="/dashboard">Dashboard</a>
            <a class="topnote" id="profile" href="/users/edit">Profile</a>
            <a class="topnote" id="logout" href="/logout">Log out</a>
        </div>
        <br>

        <button><a href="/dashboard">Return to Dashboard</a></button> 

        <h4>Edit Profile</h4>

        <form class="edituser" action="/process/users/edit" method="post">
            {% csrf_token %}
            <fieldset>
                <legend><h3>Edit Information</h3></legend>
                Email: <input type="text" name="email" value={{user.email}}>
                <br><br>
                First Name: <input type="text" name="first_name" value={{user.first_name}}>
                <br><br>
                Last Name: <input type="text" name="last_name" value={{user.last_name}}>
                <br><br>
                <input type="submit" name="submit" value="Save">
            </fieldset>
        </form>

        {% for message in messages %}
        <p>{{ message.message }}</p>
        {% endfor %}

        <form class="editpw" action="/process/users/edit_pw" method="post">
            {% csrf_token %}
            <fieldset>
                <legend><h3>Change Password</h3></legend>
                Password: <input type="password" name="pw">
                <p>*Password should be at least 8 characters</p>
                Confirm Password: <input type="password" name="pw_confirm">
                <br><br>
                <input type="submit" name="submit" value="Update Password">

            </fieldset>
        </form>
    </div>
</body>
</html>