<html>
    <head>
        <meta charset = "UTF-8"> 
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
        <title>Registration Form</title>
    </head>
    <body>
        <div class="container">
            <h1>Registration Form</h1>
        
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p style="color : red">{{message}}</p>
                {% endfor %}
            {% endif %}
            {% endwith %}
        
            <form action=/form method="POST">
        
                E-mail:<input type="text" name= "e-mail">
                First Name:<input type="text" name= "first_name">
                Last Name:<input type="text" name= "last_name">
                Password:<input type="password" name= "password">
                Confirm Password:<input type="password" name= "pwordconfirm">

                <input type='submit' name='submit' value='Register'>
            </form>
        </div>
    </body>
</html>