<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Date and Time</title>
    <!-- {% load static%}
    <link rel="stylesheet" href='{% static 'time_display/css/style.css' %}'> -->
</head>
<body>
    <div>
        <h1 style="text-align: center">Current Time and Date</h1>
    </div>
    <div>
        <h2 style="text-align: center">{{date}}</h2>
        <h2 style="text-align: center">{{time}}</h2>
    </div>
</body>
</html>